body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
}

h3 {
    font-weight: medium;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

p {
    font-weight: regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

ul {
    list-style: none;
}

.logo-link {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #2E2F42;
}

.logo-accent {
    color: #4D5AE5;
}

.nav-list .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
}
.nav-list .link:hover {
    color: #404BBF;
}

.nav-list .link:focus {
    color: #404BBF;
}

.header-contacts-list .link {
    font-style: normal;
    font-weight: regular;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    color: #434455;
    text-decoration: none;
}
.header-contacts-list .link:hover {
    color: #404BBF;
}
.header-contacts-list .link:focus {color: #404BBF;}

.section-main {
    background-color: #2E2F42;
}
.main-title {
    font-weight: bold;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    
}

.section-main-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.section-main-button:hover {
    background-color: #404BBF;
}

.section-team {
    background-color: #F4F4FD;
}

.teams-name,
.teams-role {
    text-align: center;
}

.footer-section {
    background-color: #2E2F42;
}

.footer-logo-link {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
}