body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

ul {
    list-style: none;
}

.logo-link {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #2E2F42;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.logo-accent {
    color: #4D5AE5;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
}
.nav-link:hover {
    color: #404BBF;
}

.nav-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
}

.contacts-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    color: #434455;
    text-decoration: none;
}
.contacts-link:hover {
    color: #404BBF;
}
.contacts-link:focus {
    color: #404BBF;
}

.section-main {
    background-color: #2E2F42;
}
.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center; 
    
}

.section-main-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.section-main-button:hover {
    background-color: #404BBF;
}

.section-main-button:focus {
    background-color: #404BBF;
}

.section-team {
    background-color: #F4F4FD;
}

.teams-card {
    background-color: #FFFFFF;
    text-align: left;
}

.teams-name,
.teams-role {
    text-align: center;
}

.portfolio-card {
    background-color: #FFFFFF;
    text-align: left;
}

.footer-section {
    background-color: #2E2F42;
}

.footer-logo-link {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #F4F4FD;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.footer-text {
    color: #F4F4FD;
}